AutomationAssessment/bin
AutomationAssessment/Reports
AutomationAssessment/Libs
AutomationAssessment/build
AutomationAssessment/.cache
AutomationAssessment/.classpath
AutomationAssessment/.project
AutomationAssessment/appium.log
AutomationAssessment/.gradle
AutomationAssessment/**/.meta
AutomationAssessment/**/.DS_Store
AutomationAssessment/output
AutomationAssessment/!output/.gitkeep
AutomationAssessment/settings
AutomationAssessment/.settings
AutomationAssessment/console.properties
AutomationAssessment/Include/config/log.properties

.classpath
.project
Reports
Libs
bin
